html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/*Main*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
}
h1, h2 {
  font-weight: 700;
  text-align: center;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4.2rem;
}
ul {
  list-style: none;
}
/*Footer*/
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem; /*1 rem = 16px*/
  background-color: black;
  color: white;
}
footer p {
  margin: 2rem;
}
footer i {
  vertical-align: middle;
}