.nav-bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: black;
  padding: 0 15px;
  color: white;
}
}
/*Main*/
/*body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  background: black;
}*/
h1, h2 {
  font-weight: 700;
  text-align: center;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4.2rem;
}
ul {
  list-style: none;
}
/*Footer*/
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem; /*1 rem = 16px*/
  background-color: black;
  color: white;
}
footer a {
  text-decoration: none;
}
footer p {
  margin: 2rem;
}
footer i {
  vertical-align: middle;
}